@using PagedList;
@using PagedList.Mvc;
@model IPagedList<LibrarySystem.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th class="text-center">
                    Action
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
