@model LibrarySystemMvc.Web.Areas.Admin.Models.BookEditModel
@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Books", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(m=>m.Id)
    
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Author, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Author)
            @Html.ValidationMessageFor(m => m.Author)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ISBN, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ISBN)
            @Html.ValidationMessageFor(m => m.ISBN)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Url, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Url)
            @Html.ValidationMessageFor(m => m.Url)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Category, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Category, ViewBag.Categories as IEnumerable<SelectListItem>, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Category)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Save" />
            <a href="javascript:history.go(-1)" class="btn btn-info">Cancel</a>
        </div>
    </div>
}

<p>
    <a href="javascript:history.go(-1)">Back to books</a>
</p>

